
body {
margin: 0;
padding: 0;
overflow: hidden;
width: 100vw;
height:100vh;
background: black;
}

.article-header {
  text-align: center;
}

a {
  color: #d5453c;
}

i p {
  margin-bottom: 0;
}

.article-header .hed,
.article-header .dek,
.article-header .byline {
  display: inline;
  padding: 10px;
  text-align: center;
}

.article-header .hed {
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 4px 4px 4px #222;
  font-weight: bold;
}

.controls h2:first-of-type {
  margin-top: 0;
}
button {
  display: inline-block;
  text-align: center;
  margin: 5px 5px;
  padding: 10;
  border: none;
  cursor: pointer;
  font-size: 1em;
  background:none;
  border: solid 2px white;
  color: white;
}
button:focus {outline:0;}

p button {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  border: solid 2px white;
  color: white;
}

button.selected {
  background:#d5453c;
  color: white;
  /* border: solid 2px white; */
}

button.start {
  display: block;
  margin: 0 auto;
  padding: 7px 14px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6em;
  cursor: pointer;
  border: none;
  color: black;
  background: white;
}

.article-header .byline {
  margin-top: 3em;
  display: block;
  width: 50%;
  margin: 3em auto;
  text-shadow: 2px 2px 2px #222;
}

.article-header .byline {
  font-size: 1.4em;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  background: black;
  padding: 1.6em 1em;
  box-shadow: 20px 0 10px black, -20px 0 10px black;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  margin-bottom: 2em;
}

.mapboxgl-canvas {
  left: 0;
}

.idyll-scroll {
  margin-top: 0;
}
.idyll-scroll-text {
  padding-top: 25vh;
  position: relative;
  top: -100vh;
  margin-bottom: -100vh;
}

.idyll-root {
  padding: 0;
  margin: 0;
}

.idyll-scroll-text .idyll-step {
  color: #efefef;
  background: rgba(0, 0, 0, 0.0);
  background: none;
  border-radius: 10px;
  padding: 25px;
  margin-top: 50vh;
  margin-bottom: 50vh;
}
.idyll-step:first-of-type {
  margin-top: 0;
}
.idyll-stepper {
  margin: 0;
}

.idyll-step-content {
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  bottom: 10px;
  width: auto;
  right: auto;
  background: rgba(0, 0, 0, 0.0);
}

.idyll-loading {
  color: white;
}

h1, h2, h3, h4,h5 {
  font-family: 'EB Garamond', serif;
  border-bottom: none;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 800px) {
  .article-header .hed {
    font-size: 2em;
  }
  p {
    font-size: 18px;
  }
}
